$primary-text-color: #f9cc0b;
$primary-background-color: #0c1d36;
$emphasizer-color: #0048ff;

.button_container {
  min-width: 16.5rem;
  width: auto;
  height: 5rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05rem;
  line-height: 5rem;
  padding: 0 3.5rem 0 3.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 0.1rem solid black;
  }

  &.see-more {
    background-color: $primary-background-color;
    color: $primary-text-color;

    &:hover {
      background-color: $primary-text-color;
      color: $emphasizer-color;
      border: none;
    }
  }
}
