$primary-text-color: #f9cc0b;
$primary-background-color: #0c1d36;
$emphasizer-color: #0048ff;

.navigation {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $primary-background-color;
  padding: 0rem 2.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;

  .logo_container {
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 100%;
    }
  }

  .nav_links_container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav_link {
      padding: .4rem 1.5rem;
      cursor: pointer;

      &:hover {
        background-color: $primary-text-color;
        color: $emphasizer-color;
        border-radius: 0.5rem;
      }
    }
  }
}

.active {
  padding: 1rem 1.5rem;
  background-color: $primary-text-color;
  color: $emphasizer-color;
  border-radius: 0.5rem;
}
