$primary-text-color: #f9cc0b;
$primary-background-color: #0c1d36;
$emphasizer-color: #0048ff;

.download_button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  width: 12rem;
  padding: 1rem 1.5rem;
  height: 4rem;
  font-size: 2rem;
  background-color: $primary-background-color;
  color: $primary-text-color;
  border: none;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-right: 1rem;
  padding: 1rem, 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-text-color;
    text-decoration: underline;
    border-radius: 0.5rem;
    color: $emphasizer-color;
    border: none;
  }

  .icon {
    font-size: 3rem;
  }
}
