*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7;
  color: #f9cc0b;
  box-sizing: border-box;
  background-color: #0c1d36;
}

a {
  text-decoration: none;
  color: #f9cc0b;
}
